body {
    font-family: Arial;
    margin: 0;
    background: #f2f2f2;
}

header {
    text-align: center;
    background: #4a6cf7;
    color: white;
    padding: 25px;
}

nav, section {
    padding: 15px;
    margin: 15px auto;
    width: 80%;
    background: white;
}

nav {
    text-align: center;
}

nav a {
    margin: 10px;
}

section {
    border-radius: 8px;
}

img {
    border-radius: 50%;
}

button {
    padding: 8px;
    margin: 5px;
}

footer {
    text-align: center;
    padding: 15px;
    background: #333;
    color: white;
}

.dark {
    background: #222;
    color: white;
}